<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.secuso.privacyfriendlycircuittraining">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.secuso.privacyfriendlycircuittraining.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlycircuittraining.tutorial.TutorialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.secuso.privacyfriendlycircuittraining.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.secuso.privacyfriendlycircuittraining.activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="org.secuso.privacyfriendlycircuittraining.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlycircuittraining.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlycircuittraining.activities.HelpActivity"
            android:label="@string/help"
            android:parentActivityName="org.secuso.privacyfriendlycircuittraining.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlycircuittraining.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlycircuittraining.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.secuso.privacyfriendlycircuittraining.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlycircuittraining.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlycircuittraining.activities.WorkoutActivity"
            android:label="@string/title_activity_workout"
            android:launchMode="singleTask"
            android:parentActivityName="org.secuso.privacyfriendlycircuittraining.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlycircuittraining.activities.MainActivity" />
        </activity>
        <activity
            android:name="org.secuso.privacyfriendlycircuittraining.activities.MotivationAlertTextsActivity"
            android:label="@string/title_activity_motivation_alert_texts"
            android:parentActivityName="org.secuso.privacyfriendlycircuittraining.activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlycircuittraining.activities.SettingsActivity" />
        </activity>

        <service
            android:name="org.secuso.privacyfriendlycircuittraining.services.TimerService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="org.secuso.privacyfriendlycircuittraining.receivers.OnBootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="org.secuso.privacyfriendlycircuittraining.receivers.MotivationAlertReceiver" />

        <activity
            android:name="org.secuso.privacyfriendlycircuittraining.activities.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName="org.secuso.privacyfriendlycircuittraining.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlycircuittraining.activities.MainActivity" />
        </activity>

        <activity
            android:name="org.secuso.privacyfriendlycircuittraining.activities.ExerciseSetActivity"
            android:label="@string/title_activity_exercisesets"
            android:parentActivityName="org.secuso.privacyfriendlycircuittraining.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlycircuittraining.activities.MainActivity" />
        </activity>

        <activity
            android:name="org.secuso.privacyfriendlycircuittraining.activities.ExerciseActivity"
            android:label="@string/title_activity_exercises"
            android:parentActivityName="org.secuso.privacyfriendlycircuittraining.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendlycircuittraining.activities.MainActivity" />
        </activity>
    </application>

</manifest>